
.news-container{
    /* height: 200px; */
    background: rgb(10, 89, 20) url(https://www.daiict.ac.in/themes/daiict/images/ln-bg.png) no-repeat;
    margin: 10px 150px;
    border-radius: 20px;
    padding: 15px 35px;
    padding-bottom: 25px;
}

.news-title{
    font-size: xx-large;
    color: white;
    padding-bottom: 10px;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-icons{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    align-items: center;
}

.slider-icons:hover{
    cursor: pointer;
}

.view-all-news{
    font-size: large;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
}
.news-card{
    background-color: rgba(215, 250, 217, 0.33);
    padding: 15px;
    border-radius: 15px;
    font-size: large;
    overflow-wrap: break-word;
}

.news-card:hover{
    background-color: rgba(89, 129, 184, 0.463);
}
.news-slider-title a{
    text-decoration: none;
    color: black;
}

.news-slider-title{
    padding-bottom: 7px;
}

.newsPage{
    width: 80%;
    margin: 10px auto;
}

.newsCard{
    margin: 5px auto;
    background-color: beige;
}

.newsLink{
    text-decoration: none;
    color: black;
}