
.blogItem {
    background-color: rgb(10, 59, 15);
    border-radius: 10px;
    text-align: center;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    /* width: 424px; */
}
.blogItem:hover {
    background-color: burlywood;
    transform: scale(1.02);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.bloglink {
    text-decoration: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.studentTitle {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 255, 34, 0.741),
        rgb(67, 119, 11)
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}
