.blogItem {
    border-radius: 10px;
    text-align: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    background: #252525;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    /* width: 0%; */
}
.blogItem:hover {
    background-color: rgba(43, 43, 43, 0.79);
    transform: scale(1.02);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.bloglink {
    text-decoration: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.blogImag{
    width: 135px;
    height: 150px;
}

.studentTitle {
    margin: auto;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(148.07deg, #54cef5 45.61%, #0592c1 78.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}
