/* Courses CSS */

.sem-container {
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    background: #252525;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.Semtitle {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 7px;
    background: #3e3e3ef4;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 7px;
}

.semColor{
    background: linear-gradient(148.07deg, #54cef5 45.61%, #0592c1 78.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 2px 6px 9px rgba(0, 0, 0, 0.25);
}

.Semtitle:hover {
    background-color: rgb(67, 67, 67);
}

.courseTab {
    font-size: medium;
    background: #4a4a4a;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    margin: auto;
}

.courseHead {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accordion-flush .accordion-item .accordion-button {
    background: #4a4a4a;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    color: whitesmoke;
}

.accordion-button {
    padding: auto 5px;
}

.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):focus {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
    background: #54cdf520 !important;
}

.accordion-button.collapsed {
    background: rgb(255, 255, 255);
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-flush .accordion-item .accordion-button:focus {
    /* z-index: 3; */
    border-color: none;
    outline: none;
    box-shadow: none !important;
}

.accordion-flush .accordion-item .accordion-button::after {
    background-color: #4a4a4a;
    color: rgba(245, 245, 245, 0);
}

.Discription {
    text-align: justify;
    color: white;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* .ruler {
    margin: 0px;
    padding: 0px;
    background-color: white;
    align-self: center;
    border-radius: 5px;
    height: 2px;
} */
