.footerClass {
    background-color: darkolivegreen;
    /* background-color: #609d1ae6; */
    border-radius: 9px;
    /* margin: 10px; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    text-align: center;
    /* font-size: large; */
    height: auto;
}
