.heading,
.details {
    text-align: center;
    margin: 30px 0px;
}

.MnC-title {
    font-size: 40px;
    font-weight: bolder;
    width: auto;
    color: rgb(10, 70, 10);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    display: inline-block;
}

.MnC-title:hover {
    font-size: 45px;
    font-weight: bolder;
    color: rgb(10, 70, 10);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.MnC-detail {
    margin: auto;
    text-align: justify;
    font-size: larger;
}