.batchTitle{
    background: linear-gradient(148.07deg, #54cef5 45.61%, #0592c1 78.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bolder;
    font-size: larger;
}

.news-container{
    margin: 10px auto;
    border-radius: 20px;
    padding: 15px 35px;
    min-width: 50px;
    background: #252525;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.news-title{
    font-size: large;
    color: white;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-link{
    text-decoration: none;
    color: black;
}

.news-link:hover{
    text-decoration: none;
    color: black;
}
.slider-icons{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    align-items: center;
}

.slider-icons:hover{
    cursor: pointer;
}

.view-all-news{
    font-size: large;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.view-all-news:hover{
    color: white;
    text-shadow: 0px 0px 5px rgba(118, 146, 245);
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
}

.news-card{
    background-color: rgba(215, 250, 217, 0.33);
    padding: 15px;
    border-radius: 15px;
    font-size: large;
    overflow-wrap: break-word;
}

.news-card:hover{
    background-color: rgba(89, 129, 184, 0.463);
}
.news-slider-title a{
    text-decoration: none;
    color: black;
}

.newsPage{
    /* width: 80%; */
    margin: 10px auto;
}

.newsCard{
    margin: 5px auto;
    background-color: rgb(110, 110, 110);
}

.newsLink{
    text-decoration: none;
    color: black;
}

.BackIcon{
    cursor: pointer;
}

.NewsTitle{
    /* text-align: center; */
    font-size: 32px;
    font-weight: 900;
    background: linear-gradient(135deg, #54cef5 45.61%, #0592c1 78.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 2px 6px 9px rgba(0, 0, 0, 0.25);
}

.NewsDate{
    /* text-align: center; */
    font-size: large;
    /* font-weight: 500; */
}

.NewsDiscription {
    text-align: justify;
    color: white;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}