.batchTitle {
    text-align: center;
    font-weight: bolder;
    color: rgb(10, 70, 10);
    margin: 7px;
}


.CenterItem {
    align-items: center;
    margin: auto;
}

.ContainerForBatch{
    background: #252525;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    /* text-align: center; */
}
.StudentPage{
    text-decoration: none;
    color: whitesmoke;
    background: #4a4a4a;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    /* margin: 1px; */
}

.StudentName{
    margin: 10px auto;
}

.ruler{
    background: white;
    align-self: center;
    height: 1px;
}