* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fix-width{
  width: 1519px;
}
/* Navbar */
.navbar {
  background-color: #609d1ad9;
  position:absolute;
  border-radius: 35px;
  margin: 10px;
  width: 1500px;
  height: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  border-radius: 30px;
}


.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 80px;
  left: 15px;
  position: relative;
}

.navbar-nav {
  height: 100%;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0px 20px 0px 0px;
}

.nav-item>a {
  padding: 0px 10px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.nav-item>a:hover {
  padding: 0px 10px;
  text-shadow: 0px 0px 5px rgb(245, 245, 118);
  color: white;
}

.collapse .dropdown-menu {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  padding: 10px;
  background-color: #487811cb;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  left: auto;
  visibility: hidden;
  /* margin-top: -5px; */
  margin-left: 5px;
}

.dropdown-content:first-child {
  padding-bottom: 10px;
}

.dropdown-content>a {
  align-items: stretch;
  color: white;
  font-size: medium;
  text-decoration: none;
}

.nav-item:hover a:hover~.dropdown-menu {
  visibility: visible;
}

.dropdown-menu:hover {
  visibility: visible;
}

.dropdown-menu a:hover {
  text-shadow: 0px 0px 5px rgb(245, 245, 118);
}

.heading,.details{
  text-align: center;
  margin: 30px 0px;
}
.MnC-title{
  font-size:xx-large;
  font-weight: bolder;
  color: rgb(10, 70, 10);
  /* transition: all 0.5s; */
}

.MnC-detail{
  margin: 10px 200px;
  text-align: justify;
  font-size: larger;
}